
#next-departures-wrapper {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  overflow-x: auto;

}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

h3 {
  font-size: 1.17em;
  width: 100%;
  text-align: center;
}

body {
  font-size: 10px;
}

input {
  font-size: 10px;
}

.border {
  border-bottom: 1px solid black;

}

td {
  text-align: center;
  border-left: 1px solid black;

}

.options {
  width: 100%;
}

.options tbody tr {
  width: 100%;
}

.options tbody tr td {
  width: 33.333%;
}


.table-title {
  text-align: center;
}

.southbound-trains {
  width: 100%;
} 

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {

  body {
    font-size: 10px;
  }

  input {
    font-size: 10px;
    background: black;
    color: white;
  }
}
