
#next-departures-wrapper {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  overflow-x: auto;

}

h3 {
  font-size: 1.17em;
  width: 100%;
  text-align: center;
}



td {
  text-align: center;
}

.options {
  width: 100%;
}

.options tbody tr {
  width: 100%;
  border: 5px solid red;
}

.options tbody tr td {
  width: 33.333%;
}


.table-title {
  text-align: center;
}

.southbound-trains {
  width: 100%;
} 

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {

  body {
    font-size: 10px;
  }
}
